{% extends 'base.html.twig' %}

{% block body %}

    <div id="page-wrapper">
    <div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Projets Archivés</h4></div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title"></h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <td>Titre</td>
                            <td>Date de début</td>
                            <td>Date de fin</td>

                        </tr>
                        </thead>
                        {% for projet in projets %}
                        <tr>
                        <td><a href="{{ path ('details-projet',{id:projet.id}) }}">{{ projet.nameProjet }}</a></td>
                        <td>{{ projet.dateDebut|date('d/m/Y') }}</td>
                        <td>{{ projet.dateFin|date('d/m/Y') }}</td>
                            <td>
                                <a href={{ path('edit-projet', {id:projet.id}) }}><i class="fa fa-edit" style="color:orange"></i></a>

                                <button onclick="document.getElementById('{{projet.id}}').style.display='block'"> <i class="fa fa-trash-alt" style="color:red"></i> </button>

                                <div id="{{projet.id}}" class="modal">
                                    <span onclick="document.getElementById('{{projet.id}}').style.display='none'" class="close" title="Close Modal">&times;</span>
                                    <form class="modal-content">
                                        <div class="container">
                                            <h1>Confirmation de la suppression</h1>
                                            <p>Etes-vous sûr de vouloir supprimer ?</p>

                                            <div>
                                                <button type="button">    <a href="{{ path('index-projet') }}"> Annuler  </a> </button>
                                                <button type="button"> <a href={{ path('delete-projet', {id:projet.id}) }}> Oui, supprimer  </a> </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </td>
                        <tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}