{% extends 'base.html.twig' %}

{% block body %}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Fiche collaborateur</h3>
                    <div class="table-responsive">
                        <table class="table ">
                            <thead>
                            <tr>
                                <th>NOM</th>
                                <th>Prénom</th>
                                <th>Numéro de téléphone</th>
                                <th>Adresse e-mail</th>
                            </tr>
                            </thead>

                            <tr>
                                    <td>{{ collab.nameCollab }} </td>
                                    <td>{{ collab.firstnameCollab }}</td>
                                    <td>{{ collab.telCollab }}</td>
                                    <td>{{ collab.emailcollab}} </td>
                            </tr>

                        </table>


                        <a href="{{ path('index-collab') }}" class="farah">Retour</a>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}