{% extends 'base.html.twig' %}

{% block body %}

    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <h3 class="box-title">Fiche projet</h3>
                        <div class="table-responsive">
                            <table class="table ">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Date de début</th>
                                    <th>Date de fin</th>
                                    <th>Date butoir</th>
                                    <th>Fonctionnalité</th>
                                    <th>Hébergement</th>
                                    <th>Préprod</th>
                                    <th>URL</th>
                                    <th>Collaborateurs</th>
                                    <th>Etat(s) du projet</th>
                                </tr>
                                </thead>

                                <tr>

                                    <td>{{ projet.nameProjet }}</td>
                                    <td>{{ projet.description }}</td>
                                    <td>{{ projet.dateDebut|date('d/m/Y') }}</td>
                                    <td>{{ projet.dateFin|date('d/m/Y') }}</td>
                                    <td>{{ projet.dateButoir|date('d/m/Y') }}</td>
                                    <td>{{ projet.fonctionnalite }}</td>
                                    <td>{{ projet.hebergement }}</td>
                                    <td>{{ projet.preprod }}</td>
                                    <td>{{ projet.url }}</td>
                                    <td>{% for collab in projet.collabs %}
                                            {{ collab.nameCollab }}<br>
                                        {% endfor %}</td>
                                    <td>{% for etat in projet.etats %}
                                        {{ etat.nameEtat }}<br>
                                    {% endfor %}</td>

                                </tr>
                                <br><br>

                            </table>


                            <a href="{{ path('edit-projet', {id:projet.id}) }}"><i class="fa fa-edit"></i></a>

                            <a href="{{ path('delete-projet', {id:projet.id}) }}"><i class="fa fa-trash-alt"></i></a>

{#                            <a href="{{ path('index-projet') }}">Retour</a>#}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}