{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Fiche collaborateur</h3>
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                    <tr>
                        <th>NOM</th>
                        <th>Prénom</th>
                        <th>Numéro de téléphone</th>
                        <th>Adresse e-mail</th>
                    </tr>
                    </thead>

                    <tr>
                        {% for collab in collabs %}
                            <td>{{ collab.nameCollab }} </td>
                            <td>{{ collab.firstnameCollab }}</td>
                            <td>{{ collab.telCollab }}</td>
                            <td>{{ collab.emailcollab}} </td>
                        {% endfor %}
                    </tr>

                </table>
                <a href="#">Accueil</a> <br>

                <a href="{{ path('edit-collab', {id:collab.id}) }}"><i class="fa fa-edit"></i></a><br><br>

                <a href="{{ path('delete-collab', {id:collab.id}) }}"><i class="fa fa-trash-alt"></i></a><br><br>



            </div>
        </div>
    </div>
</div>


{% endblock %}