{% extends 'base.html.twig' %}

{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <h3 class="box-title">Fiche client</h3>
                    </div>
                </div>>

                            <div class="col-md-12 col-xs-12">
                                <div class="white-box">
                                   {# <div class="amande"> #}
                                    <form class="form-horizontal form-material">
                                        <div class="form-group">
                                            <label>Nom</label>
                                            <div class="col-md-12">
                                                <input type="text" placeholder="{{ client.nameClient }}" class="form-control form-control-line"> </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Prénom</label>
                                            <div class="col-md-12">
                                                <input type="text" placeholder="{{ client.firstnameClient }}" class="form-control form-control-line"> </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-email" class="col-md-12">Email</label>
                                            <div class="col-md-12">
                                                <input type="email" placeholder="{{ client.emailClient }}" class="form-control form-control-line" name="example-email" id="example-email"> </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12">Numéro</label>
                                            <div class="col-md-12">
                                                <input type="text" placeholder="{{ client.telClient }}" class="form-control form-control-line"> </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12">Projet</label>
                                            <div class="col-md-12">
                                                <input type="text" placeholder="" class="form-control form-control-line"> </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                {#
                                                <button class="btn btn-success">Update Profile</button>
                                                #}
                                            </div>
                                        </div>
                                    </form>
                                    </div>>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div><a href="{{ path('index-client') }}" class="farah">Retour</a>
        </div>
    </div>



{% endblock %}