{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Fiche projet</h3>
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Date butoir</th>
                        <th>Fonctionnalité</th>
                        <th>Hébergement</th>
                        <th>Préprod</th>
                        <th>URL</th>
                    </tr>
                    </thead>

                    <tr>

                        {% for projet in projets %}

                            {{ projet.id }}<br>
                            {{ projet.nameProjet }}<br>
                            {{ projet.description }}<br>
                            {{ projet.dateDebut|date('d/m/Y') }}<br>
                            {{ projet.dateFin|date('d/m/Y') }}<br>
                            {{ projet.dateButoir|date('d/m/Y') }}<br>
                            {{ projet.fonctionnalite }}<br>
                            {{ projet.hebergement }}<br>
                            {{ projet.preprod }}<br>
                            {{ projet.url }}<br>
                        {% endfor %}
                    </tr>

                </table>
                <a href="#">Accueil</a>

                <a href="{{ path('edit-projet', {id:projet.id}) }}"> Modifier</a><br><br>

                <a href="{{ path('delete-projet', {id:projet.id}) }}"> Supprimer</a><br><br>

                <a href="{{ path('new-projet') }}">Ajouter un projet</a><br>
            </div>
        </div>
    </div>
</div>


{% endfor %}


{% endblock %}