{% extends 'base.html.twig' %}

{%  block body %}

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Fonction</h4> </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <a href="{{ path("new-fonction") }}">Nouveau</a>
                    </ol>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <h3 class="box-title"></h3>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <td>Titre</td>
                                    <td>Action</td>
                                </tr>
                                </thead>

                                {% for fonction in fonctions %}
                                <tr>
                                    <td>{{ fonction.nomFonction }}</td>
                                    <td>
                                        <a href={{ path('edit-fonction', {id:fonction.id}) }}><i class="fa fa-edit"></i></a>
{#                                        <a href={{ path('delete-fonction', {id:fonction.id}) }}><i class="fa fa-trash"></i></a>#}

                                        <button onclick="document.getElementById('id:fonction.id').style.display='block'"> <i class="fa fa-trash-alt"></i> </button>

                                        <div id="id:fonction.id" class="modal">
                                            <span onclick="document.getElementById('id:fonction.id').style.display='none'" class="close" title="Close Modal">&times;</span>
                                            <form class="modal-content">
                                                <div class="container">
                                                    <h1>Confirmation de la suppression</h1>
                                                    <p>Etes-vous sûr de vouloir supprimer ?</p>

                                                    <div>
                                                        <button type="button">    <a href="{{ path('index-fonction') }}"> Annuler  </a> </button>
                                                        <button type="button"> <a href={{ path('delete-fonction', {id:fonction.id}) }}> Oui, supprimer  </a> </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </td>
                                <tr>
                                    {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}