{% extends 'base.html.twig' %}

{% block body %}
<div id="page-wrapper">
    <div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Collaborateurs</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Ils travaillent avec nous</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <td>Nom du collaborateur</td>
                            <td>Prénom du collaborateur</td>
                            <td>Email du collaborateur</td>
                            <td>Fonction du collaborateur</td>
                        </tr>
                        </thead>
                        <tr>
                            {% for collab in collabs %}
                                <td>{{ collab.nomCollab }}</td>
                                <td>{{ collab.prenomCollab }}</td>
                                <td>{{ collab.emailCollab }}</tr>
                                <td>{{ collab.fonctionCollab }}</tr>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>



        {#<a href="{{ path('detailscollab-collab', {id:collab.id}) }}"> Détails</a><br><br>#}



{% endblock %}