{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Ils travaillent avec nous</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <td>Nom du projet</td>
                            <td>Date de début</td>
                            <td>Date butoire</td>
                            <td>Description du projet</td>
                        </tr>
                        </thead>
                        <tr>
                            {% for projet in projets %}
                            <td>{{ projet.name_projet }}</td>
                            <td>{{ projet.date_debut|date('d/m/Y') }}</td>
                            <td>{{ projet.date_butoir|date('d/m/Y') }}</tr>
                            <td>{{ projet.description }}</tr>

                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

        <a href="{{ path('detailsprojet-projet', {id:projet.id}) }}"> Détails</a><br><br>
    {% endfor %}


{% endblock %}